article {
  font-size: 0;
}

section {
  display: inline-block;
  position: relative;
  border: 1px solid #e5e5e5;
  vertical-align: top;
  padding: 16px;
  margin: 0 4px;
}

section > div {
  min-height: 35px;
  min-width: 35px;
  vertical-align: middle;
}

section.text-on {
  font-size: 16px;
}

section.full-width {
  display: block;
  width: 100%;
  box-sizing: border-box;
  margin: 4px 0;
}

.pin-location {
  display: block;
  position: relative;
  height: 35px;
  width: 35px;
  background: crimson;
  font-size: 0;
  
  border-radius: 50% 50% 0 50%;
  transform: rotateZ(45deg);
}

.pin-location:before {
  content: " ";
  display: inline-block;
  position: absolute;
  height: 15px;
  width: 15px;
  border-radius: 100%;
  background: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.radio-bg {
  background-image: radial-gradient(at 50% 50%, #fff 25%, #f2f2f2, #e5e5e5);
  background-position: center;
}

.radio-bg:hover {
  background-image: radial-gradient(at 50% 50%, #fff 25%, #f2f2f2, #e5e5e5);
  background-position: center;
  animation: hovering 300ms linear;
}

.locker {
  height: 30px;
  width: 30px;
  background-color: red;
  position: absolute;
  display: block;
  bottom: 4px;
  left: 50%;
  border-bottom-left-radius: 25%;
  border-bottom-right-radius: 25%;
  transform: translateX(-50%);
  z-index: 1;
}

.locker:after {
  content: " ";
  height: 20px;
  width: 15px;
  background-color: #ffffff;
  position: absolute;
  display: block;
  bottom: 30px;
  left: 50%;
  border-top-left-radius: 45%;
  border-top-right-radius: 45%;
  transform: translateX(-50%);
  z-index: 2;
}

.locker:before {
  content: " ";
  height: 30px;
  width: 30px;
  background-color: #797979;
  position: absolute;
  display: block;
  bottom: 30px;
  left: 50%;
  border-top-left-radius: 45%;
  border-top-right-radius: 45%;
  transform: translateX(-50%);
  z-index: 2;
}

.padlock:after {
  content: " ";
  height: 1px;
  width: 1px;
  border-bottom: 8px solid #797979;
  border-left: 5px solid transparent;
  border-top: 5px solid transparent;
  border-right: 5px solid transparent;
  position: absolute;
  background: transparent;
  display: block;
  bottom: 12px;
  left: 50%;
  border-radius: 0;
  transform: translateX(-50%);
  z-index: 2;
}

.padlock:before {
  content: " ";
  height: 10px;
  width: 10px;
  background-color: #797979;
  position: absolute;
  display: block;
  bottom: 20px;
  left: 50%;
  border-radius: 50%;
  transform: translateX(-50%);
  z-index: 2;
}


.switchWrapper {
  height: 20px;
  width: 60px;
  border-radius: 40%;
  background-color: #f2f2f2;
  border: 1px solid #29c7c7;
  position: relative;
}

.switchButton {
  height: 100%;
  width: 100%;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  opacity: 0;
  margin: 0 4px;
  padding: 4px 8px;
}

.switchBg {
  height: 100%;
  width: 100%;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: lightgray;
  border-radius: 40%;
  transition: 300ms;
  z-index: 1;
}

.switchButton:checked ~ .switchBg {
  background: lightblue;
}

.switchBg:before {
  content: " ";
  height: 25px;
  width: 25px;
  position: absolute;
  display: block;
  top: 50%;
  left: 4px;
  border-radius: 100%;
  background: gray;
  border-radius: 40%;
  visibility: visible;
  transform: translate(4px, -50%);
  transition: 300ms;
  z-index: 3;
}

.switchButton:checked ~ .switchBg:before {
  background: white;
  right: auto;
  left: auto;
  border-radius: 40%;
  transform: translate(30px, -50%);
  transition: 300ms ease-in-out;
}


details {
  padding: 8px;
}

details[open] {
  padding: 8px;
}

details[open] > p {
  background: #f2f2f2;
  padding: 8px 16px;
  margin-top: 0;
}

summary {
  background: purple;
  color: white;
  padding: 8px;
  display: block;
}

.pencil {
  height: 120px;
  width: 20px;
 /* background-color: #0079f3; */
  display: block;
  position: relative;
  margin: 0 auto;
  padding: 0;
  border: 4px solid #0079f3;
  background: #0079f3;
  font-size: 0;
  /* border-bottom: none; */
}

.pencil:before {
  content: " ";
  display: inline-block;
  position: absolute;
  height: 30px;
  width: 20px;
  left: -4px;
  right: 0;
  top: -4px;
  bottom: auto;
  margin: 0 auto;
  padding: 0;
  border: 4px solid gold;
  background: gold;
}

.pencil:after {
  content: " ";
  display: inline-block;
  position: absolute;
  height: 5px;
  width: 20px;
  left: -4px;
  right: 0;
  top: -4px;
  bottom: auto;
  margin: 0 auto;
  padding: 0;
  border: 4px solid #f2f2f2;
  background: #f2f2f2;
}

.tip-part {
  height: 15px;
  width: 15px;
  border-right: 4px solid beige;
  border-bottom: 4px solid beige;
  border-top: none;
  border-left: none;
  transform: rotateZ(45deg);
  position: relative;
  margin: 0 auto;
  top: -8px;
  border-radius: 25px 5px 0 5px;
  background: beige;
}

.tip-part:before {
  content: " ";
  display: block;
  position: absolute;
  top: auto;
  right: -4px;
  bottom: -4px;
  left: auto;
  height: 4px;
  width: 4px;
  background-color: #333333;
  transform: rotateZ(90deg);
}

.google-wrapper {
  display: block;
  position: relative
}

.google {
  margin-top: 30px;
  margin-left: 30px;
  display: block;
  width: 15px;
  height: 10px;
  position: relative;
  border-right: 10px solid #4285f4;
  border-top: 10px solid #4285f4;
  border-bottom: 10px solid #4285f4;
  box-sizing: content-box;
  border-radius: 0 0 250px 0;
}

.google:before {
  content: " ";
  display: block;
  position: absolute;
  height: 50px;
  width: 50px;
  border: 10px solid orange;
  border-top-color: #ea4335;
  border-left-color: #fbbc05;
  border-bottom-color: #34a853;
  border-right: 10px solid transparent;
  border-radius: 200px;
  box-sizing: border-box;
  right: -10px;
  top: -30px;
}

/*Animation*/
@keyframes hovering {
  0% {
    background-image: radial-gradient(at 50% 0%, #e5e5e5, #b3b3b3);
  }
  
  50% {
    background-image: radial-gradient(at 50% 50%, #e5e5e5, #b3b3b3);
  }
  
  100% {
    background-image: radial-gradient(at 50% 100%, #e5e5e5, #b3b3b3);
  }
}

@keyframes go-and-get-back {
  0% {
    transform: translate(0, -50%);
  }
  50% {
    transform: translate(100%, -50%);
  }
  100% {
    transform: translate(0, -50%);
  }
}

.horizontal-loader-wrapper {
  padding: 48px auto;
  position: relative;
  display: inline-blocke;
}

.horizontal-loader {
  display: inline-block;
  position: absolute;
  top: 50%;
  bottom: auto;
  right: 0;
  left: 0;
  height: 4px;
  width: 100%;
  background-color: grey;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  border-radius: 25%;
  box-sizing: content-box;
}

.horizontal-loader:before {
  content: " ";
  display: inline-block;
  position: absolute;
  top: 50%;
  bottom: auto;
  left: 0;
  right: auto;
  height: 8px;
  width: 18px;
  background-color: #00f879;
  border-radius: 25%;
  box-sizing: border-box;
  transform: translate(0, -50%);
  animation-name: go-and-get-back;
  animation-timing-function: ease-in-out;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

.music-wrapper {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  text-align: center;
  box-sizing: content-box;
  font-size: 0;
}

.music-key {
  min-height: 40px;
  min-width: 40px;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  text-align: center;
  border: 8px solid #363636;
  border-bottom: none;
  box-sizing: border-box;
  font-size: 0;
}

.music-key:before {
  content: ' ';
  display: inline-block;
  position: absolute;
  top: auto;
  bottom: -4px;
  left: auto;
  right: -8px;
  box-sizing: border-box;
  height: 16px;
  width: 16px;
  /*border: 1px solid #363636;*/
  border-radius: 50%;
  background-color: #363636;
}

.music-key:after {
  content: ' ';
  display: inline-block;
  position: absolute;
  top: auto;
  bottom: -4px;
  left: -16px;
  right: auto;
  box-sizing: border-box;
  height: 16px;
  width: 16px;
 /* border: 1px solid #363636; */
  border-radius: 50%;
  background-color: #363636;
}

.moving-gradient-wrapper {
  padding: 48px;
  font-size: 16px;
  color: #f2f2f2;
  background: linear-gradient(#0046f8, #448800);
  background-size: 200% 200%;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 16), 0 3px 6px rgba(0, 0, 0, 23);
  animation-name: movingBackground;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease;
}

@keyframes movingBackground {
  0% {
    background-position: 0 100%;
  }
  50% {
    background-position: 100% 0;
  }
  100% {
    background-position: 0 100%;
  }
}