:root {
  --gutter: 16px;
}

* {
  box-sizing: border-box;
}

*::first-letter {
  text-transform: uppercase;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: Arial, 'Helvetica', corbel, sans-serif;
  padding: 16px;
  padding: var(gutter);
  background-color: #f2f2f2;
  color: #494949;
}